body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Moderne Sans', sans-serif;
    margin: 0;
}

.header-container{
    display: flex;
    background-color: #1f2937;
    min-height: 30vh;
    padding: 0 10vw;
    flex-direction: column;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

.right-links{
    display: flex;
    justify-content: flex-end;
    color: #e5e7eb;
}

ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 1vw;
    list-style: none;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5vh;
}

.hero-text{
    flex: 1;
    padding: 0 2vw;
}

.hero-main{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-second{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-sign-up{
    background-color: #3882f6;
    border: none;
    color: #E5E7EB;
    border-radius: 5px;
    padding: 5px 10px;
}

.hero-picture{
    width: 40vw;
    flex: 1;
    display: flex;
    padding: 5vh 0;
    padding-right: 2vw;
    overflow: hidden;
    justify-content: flex-end;
    /* object-position: 100 0; */
}

.hero-picture img{
    width: 40vw;
    height: 30vw;
    object-fit: cover;
    object-position: 100 0;
}

.info-container{
    display: flex;
    justify-content: center;
    padding: 0 20vw;
    padding-bottom: 2vh;
}

.info{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info-title{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.products {
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
}

.product{
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.product-picture{
    width: 150px;
    border-radius: 10px;
}

.reviews{
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 0 20vw;
}

.review{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.reviewer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-stretch: extra-condensed;
    font-size: 24px;
    text-align: right;
}

.call-to-action{
    display: flex;
    padding: 2vh 20vw;
    justify-content: center;
    align-items: center;
}

.sign-up-container{
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 2vh 2vw;
    gap: 2vw;
}

.sign-up-text h1{
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
}

.sign-up-text p{
    color: #e5e7eb;
}

.call-to-action .sign-up{
    white-space: nowrap;
    align-self: center;
    background-color: #3882f6;
    border-color: #E5E7EB;
    color: #E5E7EB;
    border-radius: 5px;
    border: 2px solid #E5E7EB;
    padding: 5px 10px;
}

.footer{
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vh 10vw;
    color: #e5e7eb;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.icon{
    width: 2vh;
    height: 2vh;
    filter: invert(90%);
}