body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: 'Moderne Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
#header-container{
    display: flex;
    background-color: #1f2937;
    padding: 0 10vw;
    flex-direction: column;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

#logo{
    font-size: 24px;
    color: #f9faf8;
}

#right-links{
    display: flex;
    justify-content: flex-end;
    color: #e5e7eb;
}

ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 1vw;
    list-style: none;
}


/* Selection bar */
#selection-bar{
    display: flex;
    background: #1f2937;
    flex-direction: column;
    padding: 0 12vw;
    padding-bottom: 2vh;
    color: #f9faf8;
}

#tabs-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#tabs{
    display: flex;
    justify-self: left;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.tab{
    height: 20px;
    border-radius: 15px;
    padding: 5px 10px;
    background-color: #E5E7EB;
    color: #1f2937;
}

.tab:hover{
    background-color: #85878b;
}

.tab.active{
    background-color: #3882f6;
    color: #E5E7EB;
}

#shopping-cart{
    width: 20px;
    height: 20px;
    filter: invert(90%);
}

#products-container{
    padding: 0 10vw;
    background-color: #E5E7EB;
    overflow-y: auto;
    flex: 1;
}

.product-container{
    display: none;
}

.product-container.active{
    margin: 15px;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    border-radius: 20px;
    gap: 3vw;
    background-color: white;
    padding: 15px 30px;
    h2{
        text-align: center;
    }
}

.product-picture{
    width: 100%;
    border-radius: 15px;
}

.product-description{
    padding: 10px;

    display: flex;
    flex-direction: column;

    h1{
        margin-bottom: 0;
    }

    :nth-child(3){
        margin: 0;
    }
    :nth-child(4){
        margin: 0;
    }

    :nth-child(5){
        font-weight: lighter;
    }
    :nth-child(6){
        margin-top: auto;
    }
    :nth-child(7){
        font-size: 10px;
        text-align: center;
    }
}

.product-header{
    padding: 2px 5px;
    font-size: 10px;
    height: 14px;
    border-radius: 9px;
    background-color: #E5E7EB;
    color: #1f2937;
    justify-content: center;
    display: flex;
    align-items: center;
    p{
        margin: 0;
    }
}

.product-links{
    
    font-size: 12px;
    color:#3882f6;
    :hover{
        color:#0852c6;
    }
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    
}

.product-facts{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    div{
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        align-items: center;
        img{
            width: 20px;
            height: 20px;
        }
        p{
            font-size: 14px;
            font-weight: lighter;
            margin: 0;
        }
    }
}

.flavors{
    display: none;
}

.flavors.active{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 0 15px;
    margin-bottom: 15px;
}

.flavor{
    padding: 10px 0;
    padding-right: 15px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    align-items: center;
    p{
        margin: 0;
    }
    p:first-child{
        font-size: 10px;
    }
    p:last-child{
        font-weight: bold;
    }
}

.flavor div:first-child{
    width: 10px;
    height: 90%;
    align-self: center;
    border-radius: 5px;
    transform: translateX(-5px);
    margin-right: 15px;
}

.product-details{
    flex:1;
}

.add-button{
    width: 40px;
    height: 40px;
    margin: 10px 0;
}

.add-button:hover{
    fill: #3882f6;
}

#footer{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12vw;
    justify-self: flex-end;
}

#shopping-info{
    justify-self: flex-end;
    display: flex;
    align-items: center;
    gap: 15px;
    p:last-child{
        font-size: 12px;
        text-align: right;
        color: #85878b;
        margin-top: 0;
    }
}

#total{
    font-size: 16px;
    color:#e5e7eb;
    text-align: right;
    margin-bottom: 0; 
}

#continue-button{
    background-color: #85878b;
    border: none;
    color: #E5E7EB;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 18px;
    margin: 15px 0;
    /* height: 16px; */
}

