:root{
    --dark-blue: #1f2937;
}

body{
    height: 100vh;
    font-family: 'Moderne Sans', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    background: var(--dark-blue);
}

#page-wrapper{
    display: flex;
    padding: 0 10vw;
}

#side-image{
    width: 30vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../images/patricia-prudente--P2djqAwM8U-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 0;
}

#side-image p{
    color: #f9faf8;
    position: absolute;
    top: 95%;
    font-size: 10px;
    text-align: center;
    width: 30vw;
    color: #1f2937;
}

#banner{
    width: 30vw;
    height: 20%;
    position: absolute;
    top: 20%;
    background-color: rgba(50,50,50,0.4);
    color: #f9faf8;
    display: flex;
    justify-content: center;
    font-size: 48px;
    align-items: center;
}

#text-container{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

#call-for-action{
    padding: 0 5%;
    margin-bottom: 2vh;
}

#call-for-action h1{
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 1vw;
}

#call-for-action p{
    padding-left: 50px;
    color: #1f2937;
}

#form-container{
    width: 100%;
}

#details-container{
    width: 90%;
    padding: 0 5%;
    padding-top: 3%;
    padding-bottom: 2%; 
    background-color: #f5f7fb;
    margin-bottom: 4vh;
    box-shadow: 0 1vh 5px #5f6977;
}

#details{
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
}

.field{
    display: flex;
    justify-content: left;
    gap: 2vw;
    flex-wrap: wrap;
}

.input-group{
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 150px;
}

input{
    border: solid #E5E7EB;
    border-radius: 5px;
}

legend{
    font-size: 18px;
    margin-bottom: 2vh;
}

label{
    font-size: 10px;
    color: #1f2937; 
}

#signup-container{
    display: flex;
    flex-direction: column;
    gap:1vh;
    padding: 0 5%;
}

#sign-up{
    width: 100px;
    height: 30px;
    background-color: var(--dark-blue);
    color: #E5E7EB;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}

a{
    color: #1f2937;
}

:focus{
    border: solid #3882f6;
}

input:invalid{
    /* border: solid #f68238; */
    border: solid #E5E7EB;
}


#welcome-message-container{
    display: none;
    flex-direction: column;
    background-color: #E5E7EB;
    box-shadow: 1vw 1vh 5px #5f6977;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40vw;
    height: 30vh;
    transform: translate(-50%,-50%);
    border-radius: 2%;
}

#welcome-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-message h1{
    font-size: 24px;
}
#welcome-message p{
    margin-top: 0;
    margin-bottom: 5vh;
}

#shop-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#shop-button{
    width: 100px;
    height: 30px;
    background-color: var(--dark-blue);
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin-bottom: 2vh;
}

#shop-button a{
    color: #E5E7EB;
    text-decoration: none;
}

.close-icon{
    padding: 1vw 1vh;
}
.close-icon img{
    width: 2vw;
}

.error{
    font-size: 10px;
    color: #f68238;
    margin-top: 2px;
    margin-bottom: 2px;
}